/* Asciidoctor default stylesheet | MIT License | https://asciidoctor.org */

@import url(//fonts.googleapis.com/css?family=Montserrat|Open+Sans);
@import url(https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css); /* Default asciidoc style framework - important */

/* CUSTOMISATIONS */
/* Change the values in root for quick customisation. If you want even more fine grain... venture further. */
:root{
--maincolor:#FFFFFF;
--primarycolor:#294172; /* Fedora Dark Blue */
--secondarycolor:#3c6eb4; /* Fedora Blue */
--tertiarycolor:#CCCCCC;
--highlightcolor:#e59728; /* Features Orange */
--sidebarbackground:#CACACA;
--linkcolor:#0D47A1;
--linkcoloralternate:#db3279; /* Friends Magneta */
--white:#FFFFFF;
--black:#000000;

}


/* Text styles 

body{font-family: "Open Sans",sans-serif;background-color: var(--maincolor);color:var(--black);}
*/
h1{
    display: block;
    font-size: 3em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
}
h2{
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
}

h2{
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
}

h3{
    display: block;
    font-size: 1.15em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
}

span.image {
    display:inline-block;
    padding-bottom:30px; 
    transition: transform ease-in-out 0.3s;
    border-width:medium;
}

span.image:hover {
    position: relative; 
    transform: scale(1.5) translate(30%,-30%);
}

div.paragraph {
    padding-top:30px; 
}


.contribute_title_desc {
    text-align: center;
    color: white;
    position: relative;
}

.contribute_title_desc p {
    margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
.contribute_banner_desc p {
    text-align: center;
    color: white;
    margin: 0;
    position: relative;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .contribute_title_desc h1  {
    font-size: 4em;
    color: white;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .halfsize {
    -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);
    transform:scale(0.5);
}

.contributecardimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bannerimage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contributecardtitle{
    display: block;
    color: black;
    font-size: 1.15em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: bold;
    text-align: center;
}

.contributecardfooter{
    display: block;
    color: black;
    font-size: 1em;
    text-align: center;
}

.footertext{
    text-align: center;
    font-size: 0.75em;
    color: white;
    position: relative;
}

.footerCopyRighttext{
    text-align: center;
    font-size: 0.9em;
    color: white;
    position: relative;
}
section.tablepadding{
    padding-top: 10%;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 5%;
}

section.banner{
    padding-bottom: 0;
}
